section.create-pos-wrap
    ul.create-pos-list
        li.create-pos-item.btn-box
            .selling-box
                a(href="").btm-im.btm-im-sell Я продаю
                a(href="").btm-im.btm-im-buy Я покупаю
        li.create-pos-item
            .create-pos-value
                p.position-name Товар
                p.position-value Пшеница
        li.create-pos-item
            .create-pos-value
                p.position-name Класс
                p.position-value 1кл.
        li.create-pos-item
            .create-pos-value
                p.position-name Тара
                a(href="#").position-value-box
                    i.fa.fa-angle-down
        li.create-pos-item
            .create-pos-value
                p.position-name Соответствует ГОСТ
                a(href="#").posit-gost-btn
        li.create-pos-item
            .create-pos-value
                p.position-name Объем
                p.position-value 50 000 т
        li.create-pos-item
            .create-pos-value
                p.position-name +/-
                p.position-value 10%
        li.create-pos-item
            .create-pos-value
                p.position-name Условия поставки
                a(href="#").position-value-box
                    i.fa.fa-angle-right