section.myprofile
    .photo-user-section
        .photo-user-box
            img(src="")
        .user-name Виталий
    .profile-contats-box
        a(href="#").prof-user-tel
            i.fa.fa-phone
            span.user-tel +38 (067) 57 83
        a(href="#").prof-user-mail
            i.fa.fa-envelope
            span.user-mail wvitalik@gmail.com
    .delivery-pl-box
        a.del-pl-value
            .places-descr Места поставок
            .place-value 1
            i.fa.fa-angle-down
        .delivery-btn-box
            a.deliv-editing Редактировать
            a.deliv-comments Комментарии
