footer.footer
  ul.main-nav-wrap
    li.main-nav
      a(href="index.html").main-nav-link.active
        i.fa.fa-home
        span Главная
    li.main-nav
      a(href="my-profile.html").main-nav-link
        i.fa.fa-user
        span Профиль
    li.main-nav
      a(href="services.html").main-nav-link
        i.fa.fa-paperclip
        span Сервисы
    li.main-nav
      a(href="#").main-nav-link
        i.fa.fa-question-circle
        span Помощь

script(src="js/app.bundle.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2SUbKTkxr3KyQGt6jDlSYhh2zvyQHuo0")
