header.header
    a(href="my-profile.html").header-icon-box-left
        i.fa.fa-chevron-left
    .wrapper
        h1.h1 Элеваторная навигация
    a(href="#").header-search-box
        i.fa.fa-search
    a(href="#").header-filter-box
        i.fa.fa-filter




