doctype html

html.no-js

    include includes/head

    body
        .svg-placeholder(style="height: 0; width: 0; position: absolute; visibility: hidden")
        script(type='text/javascript').
            document.querySelector('.svg-placeholder').innerHTML = SVG_SPRITE;

        include includes/header-create-pos

        main.content
            .wrapper
                include includes/content-create-position

        include includes/footer
